<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">
            Sign Up</p>
        <%= form_tag "/users", class: "login" do %>
        <input type="text" name="first_name" placeholder="First name" />
        <input type="text" name="last_name" placeholder="Last name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="password_confirmation" placeholder="Confirm Password" />
        <input type="submit" value="Sign Up" class="btn btn-success btn-sm" />
        <%end%>
      </div>
    </div>
  </div>
</div>

